<!DOCTYPE html>
<html charset="utf-8" xmlns:th="http://www.thymeleaf.org"  xmlns="http://www.w3.org/1999/xhtml" >
<head>
	
    <title>Kisaki</title>
    <meta charset="utf-8"/>
    <link rel="stylesheet" href="../css/login.css" type="text/css">
    <script src="../js/jquery.min.js" charset="utf-8"></script>

</head>


<body>
       <div class="sli" >
	   <img id="bg" src="" class="bg"/>
	   </div>
	   <div id="search" class="search">
	   <ul>
       <li>
	   <img src="../image/logo01.jpg" class="search_logo" >
	   </li>
	   <li>
	   	<input type="text" class="search_text" placeholder="请输入搜索内容"></li>
	   </ul>
	   </div>

	   <div id="login_bg"  class="login_main">
	  
	
	   </div>
	   <div id="login_main"  class="login_main" style="opacity:1;background:none;">
		  <img src="../image/kisaki.png" id="logo" class="logo">

	  	
	      </img><br/>
	      <input type="text" placeholder="帐号" name="userName" id="account" class="account"><br/>
	      <input type="password" placeholder="密码" name="password" id="password" class="password"><br/>

	      <button type="button" class="login_bt" onclick="login()"> 登陆 </button><br/>
	      <button class="register_bt" name="1" onclick="register(this)"> 注册 </button>






	   </div>

	   <div id="bottom" class="bottom" >
		  <ul>
			<li>帮助</li>
			<li>关于</li>
		  </ul>
	   </div>
	   
	   <div  id="user" class="user" >

	       <ul style="margin-left: 0px;">
	          <li>
	             <img id="userLogoImg" class="userImg" src=""  >
	          </li>
	          <li>
	             
	          <label id="BGName" style="margin-top :5px;position: absolute;"> 作品名</label><br/>
	    	       
	    	  <label id="userName" style="margin-top :17px;position: absolute;"> 作者名</label>
	    	  </li>
	          
	            
	       </ul>

	   	 
	   </div>

</body>











 <script src="../js/login.js" charset="utf-8"></script>
</html>