<!DOCTYPE html>
<html charset="utf-8">
<head>
	
    <title>Kisaki登录页面</title>
    <meta charset="utf-8"/>
    <link rel="stylesheet" href="../css/index.css" type="text/css">
    <link rel="stylesheet" href="../css/sreach.css" type="text/css">

    <script src="js/jquery.min.js" charset="utf-8"></script>

</head>


<body>
   <header>
   	     <div class="head_main" >
   	        <img alt="" src="image/1.jpg" class="head_logo" >
            <div class="left_nav">
   	         <ul class="left_nav_content">
   	            <li>
   	            	<img alt="" src="image/1.jpg"  class="nav_logo">  <label class="nav_text" >XX</label>
   	            </li>
   	            <li>
   	                <img alt="" src="image/1.jpg"  class="nav_logo"> <label class="nav_text">XX</label>
   	            </li>

   	         </ul>
   	        </div>
   	        <div class="right_top_nav">
   	         <ul class="left_nav_content">
   	            <li>
   	            	  <label class="nav_text" >XX</label>
   	            </li>
   	            <li>
   	                 <label class="nav_text">XX</label>
   	            </li>
   	            
   	         </ul>
   	        </div>
   	        <div class="right_mid_nav">
   	           <input type="text" placeholder="" class="search_text">
   	           <button class="search_btu">搜索</button>
   	        </div>
   	        <div class="right_bot_nav">
   	           <ul class="left_nav_content">
   	            <li>
   	            	  
   	            	  <img alt="" src="image/1.jpg"  class="nav_logo"> <label class="nav_text">XX</label>
   	            </li>
   	            <li>
   	                 
   	                 <img alt="" src="image/1.jpg"  class="nav_logo"> <label class="nav_text">XX</label>
   	            </li>
   	            
   	         </ul>
   	        </div>


   	     </div>
   	     
   </header>

   <section class="sreach_content">
      <label class="content_tillte" >标题</label>

      <ul class="sreach_select_text">
         <li>按最新发布时间</li>
         <li>按最早发布时间</li> 
      </ul>
      <div class="sreach_select_results">
         <div class="sreach_select_results_item">
             <img src="../image/logo02.jpg" style="width:198px ;height:198px ; border:solid 1px; ">
             <ul>
                <li>
                    <label>XXXXXX</label>
                </li>
                <li>
                    <img alt="" src="../image/logo03.jpg" style="width:25px;height:25px;">
                    <label>XXXX</label>
                </li>
             </ul>

         </div>
         <div class="sreach_select_results_item">
             <img src="../image/logo02.jpg" style="width:198px ;height:198px ; border:solid 1px; ">
             <ul>
                <li>
                    <label>XXXXXX</label>
                </li>
                <li>
                    <img alt="" src="../image/logo03.jpg" style="width:25px;height:25px;">
                    <label>XXXX</label>
                </li>
             </ul>

         </div>
         <div class="sreach_select_results_item">
             <img src="../image/logo02.jpg" style="width:198px ;height:198px ; border:solid 1px; ">
             <ul>
                <li>
                    <label>XXXXXX</label>
                </li>
                <li>
                    <img alt="" src="../image/logo03.jpg" style="width:25px;height:25px;">
                    <label>XXXX</label>
                </li>
             </ul>

         </div>
         <div class="sreach_select_results_item">
             <img src="../image/BG02.jpg" style="width:198px ;height:123.75px ; border:solid 1px; ">
             <ul>
                <li>
                    <label>XXXXXX</label>
                </li>
                <li>
                    <img alt="" src="../image/logo03.jpg" style="width:25px;height:25px;">
                    <label>XXXX</label>
                </li>
             </ul>

         </div>
         <div class="sreach_select_results_item">
             <img src="../image/BG02.jpg" style="width:198px ;height:123.75px ; border:solid 1px; ">
             <ul>
                <li>
                    <label>XXXXXX</label>
                </li>
                <li>
                    <img alt="" src="../image/logo03.jpg" style="width:25px;height:25px;">
                    <label>XXXX</label>
                </li>
             </ul>

         </div><div class="sreach_select_results_item">
             <img src="../image/BG02.jpg" style="width:198px ;height:123.75px ; border:solid 1px; ">
             <ul>
                <li>
                    <label>XXXXXX</label>
                </li>
                <li>
                    <img alt="" src="../image/logo03.jpg" style="width:25px;height:25px;">
                    <label>XXXX</label>
                </li>
             </ul>

         </div><div class="sreach_select_results_item">
             <img src="../image/BG02.jpg" style="width:198px ;height:123.75px ; border:solid 1px; ">
             <ul>
                <li>
                    <label>XXXXXX</label>
                </li>
                <li>
                    <img alt="" src="../image/logo03.jpg" style="width:25px;height:25px;">
                    <label>XXXX</label>
                </li>
             </ul>

         </div><div class="sreach_select_results_item">
             <img src="../image/BG02.jpg" style="width:198px ;height:123.75px ; border:solid 1px; ">
             <ul>
                <li>
                    <label>XXXXXX</label>
                </li>
                <li>
                    <img alt="" src="../image/logo03.jpg" style="width:25px;height:25px;">
                    <label>XXXX</label>
                </li>
             </ul>

         </div>
         <div class="sreach_select_results_item">
             <img src="../image/logo02.jpg" style="width:198px ;height:198px ; border:solid 1px; ">
             <ul>
                <li>
                    <label>XXXXXX</label>
                </li>
                <li>
                    <img alt="" src="../image/logo03.jpg" style="width:25px;height:25px;">
                    <label>XXXX</label>
                </li>
             </ul>

         </div>
         <div class="sreach_select_results_item">
             <img src="../image/logo02.jpg" style="width:198px ;height:198px ; border:solid 1px; ">
             <ul>
                <li>
                    <label>XXXXXX</label>
                </li>
                <li>
                    <img alt="" src="../image/logo03.jpg" style="width:25px;height:25px;">
                    <label>XXXX</label>
                </li>
             </ul>

         </div>
         <div class="sreach_select_results_item">
             <img src="../image/logo02.jpg" style="width:198px ;height:198px ; border:solid 1px; ">
             <ul>
                <li>
                    <label>XXXXXX</label>
                </li>
                <li>
                    <img alt="" src="../image/logo03.jpg" style="width:25px;height:25px;">
                    <label>XXXX</label>
                </li>
             </ul>

         </div>
         <div class="sreach_select_results_item">
             <img src="../image/logo02.jpg" style="width:198px ;height:198px ; border:solid 1px; ">
             <ul>
                <li>
                    <label>XXXXXX</label>
                </li>
                <li>
                    <img alt="" src="../image/logo03.jpg" style="width:25px;height:25px;">
                    <label>XXXX</label>
                </li>
             </ul>

         </div>
         <div class="sreach_select_results_item">
             <img src="../image/logo02.jpg" style="width:198px ;height:198px ; border:solid 1px; ">
             <ul>
                <li>
                    <label>XXXXXX</label>
                </li>
                <li>
                    <img alt="" src="../image/logo03.jpg" style="width:25px;height:25px;">
                    <label>XXXX</label>
                </li>
             </ul>

         </div>
         <div class="sreach_select_results_item">
             <img src="../image/logo02.jpg" style="width:198px ;height:198px ; border:solid 1px; ">
             <ul>
                <li>
                    <label>XXXXXX</label>
                </li>
                <li>
                    <img alt="" src="../image/logo03.jpg" style="width:25px;height:25px;">
                    <label>XXXX</label>
                </li>
             </ul>

         </div>
         <div class="sreach_select_results_item">
             <img src="../image/logo02.jpg" style="width:198px ;height:198px ; border:solid 1px; ">
             <ul>
                <li>
                    <label>XXXXXX</label>
                </li>
                <li>
                    <img alt="" src="../image/logo03.jpg" style="width:25px;height:25px;">
                    <label>XXXX</label>
                </li>
             </ul>

         </div>

      </div>





   </section>




   </body>