.textInput{
    resize: none;
    width: 90%;
    height: 50px;
}
.textBox{
    text-align: center;
    margin-top: 5px;
    width:1500px;
}
.titleBox{
    display: flex;
    width: 90%;
    text-align: center;
    margin-left: 5%;
}
.tip{
    text-align: left;
    width: 100%;
}
.totalText{
    text-align: right;
}
.buttonBox{
    margin-top: 5px;
    width: 95%;
    text-align: right;
}
.buttonStyle{
    width: 80px;
    height: 40px;
    border-radius: 5px;
    border:none;
    color: #6495ED;
    background: -webkit-linear-gradient(white, #EED8AE); /* Safari 5.1 - 6.0 */
    background: -o-linear-gradient(white, #EED8AE); /* Opera 11.1 - 12.0 */
    background: -moz-linear-gradient(white, #EED8AE); /* Firefox 3.6 - 15 */
    background: linear-gradient(white, #EED8AE); /* 标准的语法（必须放在最后） */
}
.totalAct{
    border-bottom-color: #E0EEEE;
    border-bottom-style: solid;
    border-bottom-width: thin;
    width: 80%;
    margin-left: 5%;
    text-align: left;
    height: 30px;
    line-height: 30px;
}
.infoBox{
    display: flex;
}
.outer{
    margin-top: 10px;
}
.imageBox{
    width: 25%;
    margin-left: 5%;
    height: 330px;
    border-bottom-color: #E0EEEE;
    border-bottom-style: solid;
    border-bottom-width: thin;
}
.imageItem{
    margin-top: 10px;
    width: 180%;
    height: 90%;
}
.title{
    font-size: 35px;
    margin-left: 70px;
    font-weight: 600;
}
.author{
    font-size: 20px;
    margin-left: 15px;
}
.authorInfo{
    display: flex;
}
.info1{
    width: 75%;
    border-bottom-color: #E0EEEE;
    border-bottom-style: solid;
    border-bottom-width: thin;
    margin-right: 10%;
    margin-left: 10%;
}
.info2{
    display: flex;
    margin-left: 70px;
    margin-top: 10px;
}
.headPhoto{
    width: 50px;
    height: 50px;
}
.info3{
    display: flex;
    height: 20px;
}
.info4{
    margin-left: 10px;
}
.info5{
    display: flex;
}
.fontStyle{
    font-size: 15px;
    color: #B0B0B0;
}
.checkMore{
    margin-top: 15px;
    text-align: center;
    width: 75%;
    color: #6B6B6B;
    font-size: 16px;
}
a:link {color:#6B6B6B;}    /* 未被访问的链接 */
a:visited {color:#6B6B6B;} /* 已被访问的链接 */
a:hover {color:#0000FF;}   /* 鼠标指针移动到链接上 */
a:active {color:#0000FF;}  /* 正在被点击的链接 */
a{cursor: pointer;}

.divright{
    float: left;
    background-color: #D9D9D9;
}
.divleft{
    float: left;
    background-color: #ffffff;
    margin-left: 10px;
}
textarea:focus{
    outline: none;
}
.userInfo{
    text-align: center;
    background-color: #FFFFFF;
}
.follower{
    text-align: center;
    background-color: #FFFFFF;
    margin-top: 10%;
}
.news{
    text-align: center;
    background-color: #D9D9D9;
    margin-left: 2px;
    margin-right: 2px;
}
.followerNum{
    display: flex;
    margin: 1px;
    background-color: #CCCCCC;
}
a{
    color: #5CACEE;
}
a:hover{
    color: #7171C6;
}
.newsTitle{
    color: #00B2EE;
    text-align: left;
    margin-top: 5px;
    padding: 2px;
    height: 30px;
    line-height: 30px;
}
.selected{
    font-weight: 600;
    background-color: #ffffff;
}