<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kisaki.web.mapper.ActiveMapper">
    <resultMap id="ActiveResult" type="kisaki.web.entity.Active">
        <result column="IMG_ID" property="imgId"/>
        <result column="IMG_URL" property="imgUrl"/>
        <result column="IMG_NAME" property="imgName"/>
        <result column="USER_ID" property="userId"/>
        <result column="USER_NAME" property="userName"/>
        <result column="USER_LOGO_URL" property="userLogoUrl"/>
        <result column="IMG_SIZE" property="imgSize"/>
        <result column="DATE" property="date"></result>
        <result column="context" property="context"/>
    </resultMap>


    <select id="findContextWithCareIds" resultMap="ActiveResult" parameterType="java.lang.Long">
        SELECT  tu.user_id as user_id ,  context ,  user_name ,
         USER_LOGO_URL ,date from t_user_context tuc
        LEFT JOIN t_user tu on tu.USER_ID = tuc.user_id
        where  tuc.user_id in
        (SELECT care_id from t_user_care where USER_ID = #{userId,jdbcType=NUMERIC})
    </select>

    <select id="findContextByUserId" resultMap="ActiveResult" parameterType="java.lang.Long">
        SELECT  tu.user_id as user_id ,  context ,  user_name ,
        USER_LOGO_URL ,date from t_user_context tuc
        LEFT JOIN t_user tu on tu.USER_ID = tuc.user_id
        where  tuc.user_id = #{userId,jdbcType=NUMERIC}
    </select>

    <select id="findContextWithUserId" resultMap="ActiveResult" parameterType="java.lang.Long">
        SELECT img_id , tc.user_id , comment as context , img_name, img_url , img_size , user_name ,
         USER_LOGO_URL ,date from t_comment  tc
        LEFT JOIN t_img ti on ti.id = tc.img_id
        LEFT JOIN t_user tu on tu.USER_ID  = tc.user_id
        where tc.user_id in ((SELECT care_id from t_user_care where USER_ID = #{userId,jdbcType=NUMERIC} ))
        or tc.user_id = #{userId,jdbcType=NUMERIC}
    </select>

    <insert id="insertContext" parameterType="kisaki.web.entity.Active">
       INSERT into t_user_context (user_id, date , context)
       VALUES(#{userId , jdbcType=NUMERIC },NOW(),#{context , jdbcType=VARCHAR})
    </insert>

    <select id="findCommentByUserId" resultMap="ActiveResult"  parameterType="java.lang.Long">
        SELECT img_id , tc.user_id , comment as context , img_name, img_url , img_size , user_name ,
         USER_LOGO_URL ,date from t_comment  tc
        LEFT JOIN t_img ti on ti.id = tc.img_id
        LEFT JOIN t_user tu on tu.USER_ID  = tc.user_id
        where tc.user_id = #{userId,jdbcType=NUMERIC}
    </select>

    <select id="findCommentByCareIds" resultMap="ActiveResult" parameterType="java.lang.Long">
        SELECT img_id , tc.user_id , comment as context , img_name, img_url , img_size , user_name ,
         USER_LOGO_URL ,date from t_comment  tc
        LEFT JOIN t_img ti on ti.id = tc.img_id
        LEFT JOIN t_user tu on tu.USER_ID  = tc.user_id
        where tc.user_id in ((SELECT care_id from t_user_care where USER_ID = #{userId,jdbcType=NUMERIC} ))
    </select>




</mapper>