<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kisaki.web.mapper.BackgroundImgMapper">
    <resultMap id="BackgroundImgResult" type="kisaki.web.entity.BackgroundImg">
        <result column="ID" property="id"/>
        <result column="IMG_URL" property="imgUrl"/>
        <result column="IMG_NAME" property="imgName"/>
        <result column="USER_ID" property="userId"/>
        <result column="USER_NAME" property="userName"/>
        <result column="USER_LOGO_URL" property="userLogoUrl" />
    </resultMap>


    <sql id="base_column">
        ID, IMG_URL,IMG_NAME
    </sql>

    <select id="getList" resultMap="BackgroundImgResult">
        SELECT
        <include refid="base_column"></include>
        , BG.USER_ID,TU.USER_NAME ,TU.USER_LOGO_URL
        FROM
        backgroundImg BG
        LEFT JOIN  T_USER  TU ON  BG.USER_ID = TU.USER_ID
        ORDER BY ID ASC

    </select>


</mapper>